.App-logo {
  height: 55px;
  width: 156px;
}

.navbar-brand {
  padding-top:0;
}

.navbar-header {
  height: 55px;
}

.welcome-logo {
  height: 346px;
  width: 500px;
}

.btn-dass {
  margin-bottom: 10px;
  width: 200px;
}

/*
.btn-dass:hover {
  margin-bottom: 10px;
}

.btn-dass:focus {
  margin-bottom: 10px;
}
*/

.btn-upload {
  background-color: #F37060;
  color: #fff;
}

.btn-upload:hover {
  background-color: #F37060;
  color: #fff;
}

.btn-upload:focus {
  background-color: #F37060;
  color: #fff;
}

.input-login {
  width: 700px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.creation-date {
  font-size: 10px;
}

.dass-file a {
    color: #13AFBE;
    text-decoration: none;
}

.dass-file a:hover {
    color: #13AFBE;
    text-decoration: none;
}

.dass-folder a {
    color: #13AFBE;
    text-decoration: none;
}

.dass-folder a:hover {
    color: #13AFBE;
    text-decoration: none;
}

.dass-link a {
    color: #F37060;
    font-size: 16px;
    text-decoration: none;
}

.dass-link a:hover {
    color: #F37060;
    font-size: 16px;
    text-decoration: none;
}

.panel-default > .panel-heading-dass {
  /* background: #ffe9e6; */
  background: #13AFBE;
  color: #fff;
  border-color: #13AFBE;
}

.panel-dass {
  border-color: #13AFBE;
}

.fa-times-circle {
  color: #B22222;
}

.fa-check-circle {
  color: green;
}
